<li>
  <h2 class="date"><%= record.show_date %></h2>
  <% if record.memo.present? %>
	<div class="memo"><%= markdown record.memo.sentence %></div>  
  <% end %>
  <%= link_to "メモの編集", edit_memo_path(record.memo.id) %>
</li>